<footer class="fixed-bottom">
    <div class="bg-body-tertiary text-center">
        <div class="container p-4 pt-2">
            <section class="mb-2">
                {% for item in site.data.footer %}
                <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    href="{{ item.link }}"
                    target="_blank"
                    role="button">
                    <img src="/assets/images/{{ item.name }}.svg" width="25" height="25">
                </a>
                {% endfor %}
            </section>
            <p class="text-secondary">Antonio Russo - 2024</p>
        </div>
    </div>
</footer>