<header>
    <nav class="navbar navbar-expand-md fixed-top bg-body-tertiary">
        <div class="container fluid">
            <a class="navbar-brand fs-3" {%if page.url=="/"%}href="#" {%endif%} href="/">
                <img src="/assets/images/logo.svg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                Antonio.dev
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a class="nav-link fs-5" {%if page.url==item.link%}href="#" {%endif%} href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>    
        </div>
    </nav>
</header>