:root {
  --onyx: #393d3fff;
  --cambridge-blue: #94a89aff;
  --dark-orange-web: #f58f29ff;
  --dark-orange-web-subtle: hsl(30, 91%, 15%);
}

#flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#footer {
  margin-top: auto;
}

#sun, #moon {
  transition: all .20s ease-in-out;
}

#sun:hover, #moon:hover {
  transform: scale(125%);
}